<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="/style.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Grab title from the page data and dump it here -->
  <title>{{ title }}</title>
</head>
<body>
	<section>
	<h1>Ivan's place</h1>

<nav>
  <a href="/">Home</a>
</nav>
	</section>
  <!-- Safe docs: https://mozilla.github.io/nunjuckstemplating.html#safe -->
  {{ content | safe }}
</body>
</html>
