---
layout: home.njk
title: The Best Eleventy Demo TM
---

<main>
	{% for post in collections.blog %}
		<article>
			<h2>{{ post.data.title }}</h2>
			<a href="{{ post.url }}">Read more</a>
		</article>
	{% endfor %}
</main>
